extends layout

block content
  div.loginBox
    div.loginWr
      div(style="width:100%;text-align:center") Представьтесь, пожалуйста
      form(method="POST")
        input(name="email" type="text" placeholder="email")
        input(name="pass" type="password" placeholder="password")
        input(type="submit" value="войти")






