extends layout
block head
  style.
    body{
      background: #EBEDEC;
      color: #262626;
      height: 100vh;
      overflow-y: hidden;
      overflow: hidden;
    }
    #app{
      width:1466px;
      overflow:hidden;
      margin: 0 auto;
    }
    .qItemTitle{
      margin-top:.5em;
      margin-bottom:.5em
    }
    .qItemTitle div{
      display: inline-block;
      font-size: 36px;
      margin-right: 1em;
    }
    .qItemText {
      font-size: 28px;
      line-height: 40px;
    }
    .qItem{
      padding: 40px;
      padding-bottom: 20px;
    }
    .qItemDate {
      font-size: 28px;
    }
    .qItemVideo {
      padding: 0 456px;
      background: #2323;
      height: 230px;
    }
    #userVideo {

    }
    #speakerVideo {

    }



block content
  div.screenContainer(id="app")
    //input(type="button" value="connect" v-on:click="startVideo()")
    //input(type="button" value="disconnnect" v-on:click="stopVideo()")

    video.spkUserVieo(id="userVideo"  autoplay)
    video(id="speakerVideo" muted autoplay)
    div.speakerMosaic(v-if="jpg.length>6")
      div.MosaicItem(v-for="item in jpg" v-bind:key="item.id")
        div.mosaicItemTitle {{item.i}} &nbsp; {{item.f}} &nbsp; {{item.smi}}
        img.mosaicItemImg(v-bind:src='item.jpg')
    div.aModBox(style="margin:0;")
      div.aModSect(style="width:100%")
        div.aModSectTitle Вопросы
        div.aSectBody(id="qBox")
          div.qItem(v-for="item in qScreen" v-bind:class="{ready:item.isReady}")
            div.qItemTitle
              div.qItemSmi  {{item.smi}}
              div.qItemName {{item.i}}&nbsp;{{item.f}}
            div.qItemText {{item.text}}
            video.qItemVideo(v-bind:src="'/uploads/'+item.video" v-if="item.video" controls)

            div.qItemDate
              span {{moment(item.date).format("HH:MM")}}
  script.
    var userId=!{JSON.stringify(user.id)};
  script(src="/javascripts/screenScript.js")







